{% extends "./layout.html" %} {% block body %}
<div id="alerta" class="alerta-campo-vacio3 oculto">
    No Debe haber Campos Vacios!
</div>
<div id="alerta2" class="alerta-Exito2 oculto">
    Guardado Exitoso!
</div>
<div id="alerta3" class="alerta-campo-vacio3 oculto">
    Correo electrónico inválido!
</div>
<div id="alerta4" class="alerta-campo-vacio3 oculto">
    Matricula invalida solo usar mayusculas!
</div>
<div id="alerta5" class="alerta-campo-vacio3 oculto">
    Solo usar numeros en los campos Cedula u Telefono!
</div>
<div id="alerta6" class="alerta-campo-vacio3 oculto">
    Solo usar letras en los campos diferentes a matricula!
</div>
<div id="alerta7" class="alerta-campo-vacio3 oculto">
    Coloque una duracion valida!
</div>
<div id="alerta8" class="alerta-campo-vacio3 oculto">
    Duracion demasiado extensa!
</div>
<div id="alerta9" class="alerta-campo-vacio3 oculto">
    Coloque un valor valido!
</div>
<div class="ajustes-box">
    <div class="sombreado" id="ajustes-botones">
        <button type="button" class="btn btn-primary" onclick="mostrarmenuUS()">Usuarios</button>
        <br></br>
        <button type="button" class="btn btn-primary" onclick="mostrarmenuPQ()">Paquetes</button>
    </div>
    <div class="sombreado" id="ajustes-botones2" style="visibility: hidden;">
        <button type="button" class="btn btn-primary" onclick="mostrarRvehiculos()">Registrar Vehiculos</button>
        <br></br>
        <button type="button" class="btn btn-primary" onclick="mostrarRuarios()">Registrar Usuarios</button>
        <br></br>
        <button type="button" class="btn btn-danger" onclick="eliminarRuarios()">Eliminar Usuario</button>
    </div>
    <div class="sombreado" id="ajustes-botones3" style="visibility: hidden;">
        <button type="button" class="btn btn-primary" onclick="mostrarpaquetesPQ()">Registrar Paquetes Permanentes</button>
        <br></br>
        <button type="button" class="btn btn-danger" onclick="eliminarpaquetes()">Eliminar Paquetes Permanentes</button>
    </div>
    <div class="sombreado" id="ajvehiculos" style="visibility: hidden;">
        <label for="Rmatricula">Matricula:</label>
        <input id="Rmatricula" type="text" placeholder="SOLO MAYUSCULAS" style="position: relative; left: 10px;">
        <br></br>
        <label for="Rmodelo">Modelo:</label>
        <input id="Rmodelo" type="text" placeholder="" style="position: relative; left: 23px;">
        <br></br>
        <label for="Rcolor">Color:</label>
        <input id="Rcolor" type="text" placeholder="" style="position: relative; left: 35px;">
        <br></br>
        <label for="Rtipo">Tipo:</label>
        <select id="Rtipo" style="position: relative; left: 42px;">
            <option value="0" selected>Selecciona una opción</option>
            <option value="Automóvil">Automóvil.</option>
            <option value="Bus">Bus.</option>
            <option value="Camión">Camión.</option>
            <option value="Furgoneta">Furgoneta.</option>
            <option value="Motocicleta">Motocicleta.</option>
            <option value="Ciclomotor">Ciclomotor.</option>
        </select>
        <br></br>
        <button type="button" class="btn btn-primary" onclick="guardar_vehiculos()">Registrar</button>
        <button type="button" class="btn btn-danger" onclick="limpiartodo()">Limpiar</button>
    </div>
    <div class="sombreado" id="ajusuarios" style="visibility: hidden;">
        <label for="Rusuario">Usuario:</label>
        <input id="Rusuario" type="text" placeholder="" style="position: relative; left: 75px;">
        <br></br>
        <label for="Rnombre">Nombre:</label>
        <input id="Rnombre" type="text" placeholder="" style="position: relative; left: 75px;">
        <br></br>
        <label for="Rapellido">Apellido:</label>
        <input id="Rapellido" type="text" placeholder="" style="position: relative; left: 70px;">
        <br></br>
        <label for="Rcedula">Cedula:</label>
        <input id="Rcedula" type="text" placeholder="" style="position: relative; left: 80px;">
        <br></br>
        <label for="Rmail">Correo Electronico:</label>
        <input id="Rmail" type="text" placeholder="" style="position: relative; left: 5px;">
        <br></br>
        <label for="Rtelefono"># De Telefono:</label>
        <input id="Rtelefono" type="text" placeholder="" style="position: relative; left: 37px;">
        <br></br>
        <label for="Rpassword">Contraseña:</label>
        <input id="Rpassword" type="password" placeholder="" style="position: relative; left: 55px;">
        <br></br>
        <label for="Rmatricula2">Matricula:</label>
        <input id="Rmatricula2" type="text" placeholder="SOLO MAYUSCULAS" style="position: relative; left: 65px;">
        <br></br>
        <label id="Rrol" for="Rrol">Rol:</label>
        <select id="rolSelect" style="position: relative; left: 105px;">
            <option value="0" selected>Selecciona una opción</option>
            <option value="1">Administrador</option>
            <option value="2">Vendedor</option>
            <option value="3">Cliente</option>
        </select>
        <br></br>
        <button type="button" class="btn btn-primary" onclick="guardar_usuarios()">Registrar</button>
        <button type="button" class="btn btn-danger" onclick="limpiartodo2()">Limpiar</button>
    </div>
    <div class="sombreado" id="ajeliminar" style="visibility: hidden;">
        <label for="Dusuario">Usuario:</label>
        <input id="Dusuario" type="text" placeholder="" style="position: relative; left: 25px;">
        <br></br>
        <label for="Dcontra">Contraseña:</label>
        <input id="Dcontra" type="password" placeholder="" style="position: relative; left: 5px;">
        <br></br>
        <button type="button" class="btn btn-danger" onclick="verificarUSaDL()">Eliminar</button>
    </div>
    <div class="sombreado" id="ajeliminarPQ" style="visibility: hidden;">
        <label for="Dpaquete">Paquete:</label>
        <input id="Dpaquete" type="text" placeholder="" style="position: relative; left: 25px;">
        <br></br>
        <button type="button" class="btn btn-danger" onclick="DEL_PQ()">Eliminar</button>
    </div>
    <div class="sombreado" id="ajregistrarPQ" style="visibility: hidden;">
        <label for="Rtitulo">Titulo:</label>
        <input id="Rtitulo" type="text" placeholder="" style="position: relative; left: 45px;">
        <br></br>
        <label for="Rdescripcion">Descripcion:</label>
        <textarea id="Rdescripcion" name="mensaje" placeholder="Coloca los Servicios disponibles en este paquete!" style="position: relative; left: 5px; width: 200px; height: 100px; resize: vertical;"></textarea>
        <br></br>
        <label for="Rvalor">Valor:</label>
        <input id="Rvalor" type="text" placeholder="$" style="position: relative; left: 45px;">
        <br></br>
        <label for="Rduracion">Duracion:</label>
        <input id="Rduracion" type="text" placeholder="horas:minutos:segundos" style="position: relative; left: 20px;">
        <br></br>
        <button type="button" class="btn btn-primary" onclick="guardar_paqueteAJ()">Registrar</button>
        <button type="button" class="btn btn-danger" onclick="limpiartodo3()">Limpiar</button>
    </div>
</div>
<div id="confirdelete" class="sombreado" style="visibility: hidden;">
    <h1 style="text-align: center; color: red;">ADVERTENCIA</h1>
    <br>
    <label>El usuario identificado a continuacion sera eliminado</label>
    <br>
    <label>Y desligado de su vehiculo asociado en el sistema</label>
    <br><br>
    <label>Nombre Usuario :</label>
    <label id="USpaDEL">---</label>
    <br><br>
    <label>Vehiculo asociado :</label>
    <label id="VHpaDEL">---</label>
    <br><br>
    <button type="button" class="btn btn-danger" onclick="deletearUS()">Borrar</button>
    <button type="button" class="btn btn-secondary" onclick="ocultarconfirdeleteUS()">Cancelar</button>
    <br><br>
</div>
<script src="{{url_for('static', filename='js/Ajustes.js')}}"></script>
{% endblock %}