{% extends "./layout.html" %} {% block body %}
<div id="alerta" class="alerta-exito oculto">
    Cedula No Registrada!
</div>
<div class="caja-pagos">
    <h1>Ingrese aquí</h1>
    <form>
        <label for="nombre-usuario">Usuario:</label>
        <li id="Nusuario" class="list-group-item" style="display: inline;">Nombre Del Usuario</li>
        <input id="identificacion" type="text" placeholder="Coloque la cédula">
        <button class="btn btn-info" type="submit" onclick="verificarCedula(event)">Buscar</button>
        <br><br>
        <label for="matricula">Matricula:</label>
        <li id="Nmatricula" class="list-group-item" style="display: inline;"># De Matricula</li>

        <label for="Duracion Proseso " style="display: inline; ">Tipo De Vehiculo: </label>
        <li id="Tvehiculo" class="list-group-item" style="display: inline;">---</li>
        </br>
    </form>
</div>

<div class="container3">
    <h1 style="text-align: center;">Descripción Del Paquete</h1>
    <br>
    <div id="miContainer" class="container5">
    </div>
    <br>
    <button type="button" class="btn btn-info" onclick="guardar_paquete()">Pago Físico</button>

    <button type="button" class="btn btn-success" onclick="eliminarTodo()">Pago PSE</button>
    <br>
</div>

<script src="{{url_for('static', filename='js/Pagos.js')}}"></script>

{% endblock %}