{% extends "./layout.html" %} {% block body %}
<div id="alerta" class="alerta-campo-vacioPG oculto">
    Cedula No Registrada!
</div>
<div id="alerta2" class="alerta-campo-vacioPG oculto">
    Coloque Un Usuario!
</div>
<div id="alerta3" class="alerta-campo-vacioPG oculto">
    No puedes pagar menos del valor!
</div>
<div id="alerta4" class="alerta-exitoPG oculto">
    Pago Realizado!
</div>
<div id="alerta5" class="alerta-campo-vacioPG oculto">
    Pago No registrado o Fallido!
</div>
<div id="alerta6" class="alerta-exitoPG oculto">
    Tuno Generado Con Exito!
</div>
<div id="alerta7" class="alerta-campo-vacioPG oculto">
    Coloque un valor valido!
</div>
<div id="pagofisico" class="contenedordepagos oculto">
    <h1 style="text-align: center;">Realize su pago</h1>
    <br>
    <label for="valor-a-cancelar">Valor a cancelar: $</label>
    <li id="Vacan" class="list-group-item" style="display: inline;">$$$</li>
    <br><br>
    <label for="nombre-usuario">Valor cancelado:</label>
    <input id="Vacancel" type="text" placeholder="Ingrese el valor">
    <br><br>
    <label for="valor-a-retornar">Valor a retornar: $</label>
    <li id="Vareturn" class="list-group-item" style="display: inline;">$$$</li>
    <br><br>
    <button class="btn btn-info" type="submit" onclick="calcularpago()">Realizar Pago</button>
    <br><br>
</div>
<div class="caja-pagos">
    <h1 style="text-align: center;">Ingrese aquí</h1>
    <br>
    <form>
        <label for="nombre-usuario">Usuario:</label>
        <li id="Nusuario" class="list-group-item" style="display: inline; position: relative; left: 70px;">Nombre Del Usuario</li>
        <input id="identificacion" type="text" placeholder="Coloque la cédula" style="width: 145px; position: relative; left: 77px;">
        <button class="btn btn-info" type="submit" style="position: relative; left: 77px;" onclick="verificarCedula(event)">Buscar</button>
        <label class="sombreado" for="lista procedimientos" style="position: relative; left: 100px;">Descripción Del Paquete</label>
        <br><br>
        <label for="correo">Correo:</label>
        <li id="Email" class="list-group-item" style="display: inline; position: relative; left: 75px;">Email</li>
        <br><br>
        <label for="matricula">Matricula:</label>
        <li id="Nmatricula" class="list-group-item" style="display: inline; position: relative; left: 55px;"># De Matricula</li>
        <br><br>
        <label for="tipo vehiculo" style="display: inline; ">Tipo De Vehiculo: </label>
        <li id="Tvehiculo" class="list-group-item" style="display: inline; position: relative; left: 5px;">---</li>
        <br><br>
        <label for="nombre-paquete">Paquete:</label>
        <li id="Tpaquete" class="list-group-item" style="display: inline; position: relative; left: 65px;">Tipo De Paquete</li>
        <br><br>
        <label for="valor" style="display: inline; ">Valor: </label>
        <li id="Pvalor" class="list-group-item" style="display: inline; position: relative; left: 79px;">$</li>
        <br><br>
        <label for="Fecha ">Fecha: </label>
        <li id="Fecha" class="list-group-item " style="display: inline; position: relative; left: 77px;">Dia/Mes/Año</li>
        <br><br>
        <label for="Duracion Proseso " style="display: inline; ">Tiempo Estimado: </label>
        <li id="Testimado" class="list-group-item " style="display: inline;">00:00</li>
        </br>
        <br>
        <button type="button" class="btn btn-info" onclick="pagofisico()">Pago Físico</button>

        <button type="button" class="btn btn-success" onclick="guardar_ventas()">Generar Turno</button>
    </form>
</div>

<div class="sombreado" id="containerPG">
    <div id="miContainer" class="container5">
        <p id="GID" class="card-text"></p>
        <p id="cambio" class="card-text"></p>
    </div>
    <br><br>
    <script async src="https://js.stripe.com/v3/buy-button.js">
    </script>

    <stripe-buy-button buy-button-id="buy_btn_1NLAiwEQOcF2fMb4q7JoSvBE" publishable-key="pk_test_51NLAAbEQOcF2fMb4TF4X9CZ5uhpgsJuJHoep3h6BIaFq56prosSMeQz2WAGm0rAGxR0XRJVgzkUaJGtrDwyd32nl00GI6OXaBB">
    </stripe-buy-button>
</div>
<img class="payuL" src="{{ url_for('static', filename='img/Medios_Pago_Verde_Oscuro_120x60.jpg') }}" title="PayU - Medios de pago" alt="PayU - Medios de pago" width="120" height="600" />
<script src="{{url_for('static', filename='js/Pagos.js')}}"></script>

{% endblock %}