{% extends "./layout.html" %} {% block body %}
<div class="Bienvenida">
    <img class="saludo2" src="{{ url_for('static', filename='img/pago-exitoso.png') }}" />
    <img class="saludo3" src="{{ url_for('static', filename='img/pago-exitoso2.jpg') }}" />
    <div class="sombreado" id="Mpagoex">
        <label for="matricula">Matricula:</label>
        <li id="PNmatricula" class="list-group-item" style="display: inline; position: relative; left: 55px;"># De Matricula</li>
        <br><br>
        <label for="nombre-paquete">Paquete:</label>
        <li id="PTpaquete" class="list-group-item" style="display: inline; position: relative; left: 65px;">Tipo De Paquete</li>
        <br><br>
        <label for="valor" style="display: inline; ">Valor: </label>
        <li id="PPvalor" class="list-group-item" style="display: inline; position: relative; left: 79px;">$</li>
        <br><br>
        <label for="Fecha ">Fecha: </label>
        <li id="PFecha" class="list-group-item " style="display: inline; position: relative; left: 77px;">Dia/Mes/Año</li>
        <br></br>
        <button type="button" class="btn btn-primary" onclick="guardar_paqueteAJ()">Registrar</button>
    </div>
</div>
<script src="{{url_for('static', filename='js/Pagoex.js')}}"></script>
{% endblock %}