{% extends "./layout.html" %} {% block body %}
<ul class="list-group">
    <li class="list-group-item" onclick="gopredeterminados2()">Regresar a Paquetes</li>
    <li class="list-group-item" onclick="goeditables()">Crear Paquete</li>
</ul>
<div class="container2">
    <form>
        <h1 style="text-align: center;">Diseñe Un Paquete</h1>
        </br>
        <label for="nombre paquete">Titulo :</label>
        <input id="Titulo" type="text" placeholder=" coloque el Titulo">

        <label for="valor paquete">Valor Total $</label>
        <input id="Valor" type="text" placeholder="$">
        </br>
        </br>
        <div id="miContainer" class="container4">
        </div>
        </br>
        <button type="button" class="btn btn-info">Guardar</button>

        <button type="button" class="btn btn-danger" onclick="eliminarTodo()">Descartar Lista</button>
        </br>

    </form>
</div>
<div class="container3">
    <h1 style="text-align: center;">Lista De Procedimientos</h1>
    </br>
    <ul id="cambio" class=" list-group2 ">
        <li class="list-group-item " onclick="ver_procedimientos()">Mostrar Procedimientos</li>
    </ul>
</div>
<script src="{{url_for('static', filename='js/Peditables.js')}} "></script>
{% endblock %}