{% extends "./layout.html" %} {% block body %}
<ul class="list-group">
    <li class="list-group-item" onclick="ver_paquetes()">Mostrar Paquetes</li>
    <li class="list-group-item" onclick="goeditables()">Crear Paquete</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
</ul>
<div id="cambio" class="container">
</div>
<script src="{{url_for('static', filename='js/Ppredeterminados.js')}} ">
</script>
{% endblock %}