<!DOCTYPE html>
<html lang="es">

<head>
    <title>Título de la página</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/boostrap_css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="login-box">
        <img class="avatar" src="{{url_for('static', filename='img/logo.jpg')}}" alt="logo CW">
        <h1>Recuperar Usuario</h1>
        <form>
            <label for="Email">Correo Registardo</label>
            <input id="Email" type="text" placeholder="coloque su Email">

            <label for="#cel">Numero Regisstrado</label>
            <input id="#cel" type="text" placeholder="coloque su # de telefono">
            <br>
            <button class="btn btn-info" type="submit" onclick="RecoveryCT()">Recuperar</button><br><br>
            <a href="/">Regresar a Login</a>
        </form>
    </div>

    <script src="{{url_for('static', filename='js/Recovery.js')}}"></script>
    <script src="{{url_for('static', filename='js/boostrap_js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/boostrap_js/bootstrap.bundle.min.js')}}"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>