<!DOCTYPE html>
<html lang="es">

<head>
    <title>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boostrap_css/bootstrap.min.css') }}">
</head>

<body>
    <div class="capa-oscura"></div>
    <div id="sidebar-container">
        <div id="sidebar">
            <div class="toggle-btn">
                <span>&#9776;</span>
            </div>
            <ul>
                <li>
                    <img src="{{url_for('static', filename='img/logo.jpg')}}" alt="logoprincipal" class="logop">
                </li>
                <li>
                    <a onclick="gopredeterminados()" style="color:#FFFFFF">Paquetes De Lavado</a>
                </li>
                <li>
                    <a onclick="goeditables()" style="color:#FFFFFF">Crear Paquete</a>
                </li>
                <li>
                    <a onclick="goturnos()" style="color:#FFFFFF">Turnos</a>
                </li>
                <li>
                    <a href="#">Balances</a>
                </li>
                <li>
                    <a href="#">Ajustes</a>
                </li>
            </ul>
        </div>
    </div>
</body>
{% block body %} {% endblock %}
<script src="{{url_for('static', filename='js/principal.js')}} "></script>
<script src="{{ url_for('static', filename='js/boostrap_js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/boostrap_js/bootstrap.bundle.min.js') }}"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>